{% extends 'base.html.twig' %}

{% block title %} - Conseils{% endblock %}

{% block pagetitle %}<i class="fas fa-comment-medical"></i> Conseils{% endblock %}

{% block body %}
    <div id="pageaction" class="mb-2">
        <a href="{{ path("app_advice_submit") }}" class="btn btn-success btn-icon-split btn-lg">
            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
            <span class="text">Ajouter</span>
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Liste</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="no-order" style="width:70px">Action</th>
                            <th>Order</td>
                            <th>Etape</td>
                            <th>Titre</th>
                            <th>Categorie</th>
                            <th>Pathologies</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for advice in advices %}
                            <tr>
                                <td><a href="{{ path("app_advice_update",{id: advice.id}) }}" class="btn btn-success btn-circle"><i class="fas fa-pencil-alt"></i></a></td>
                                <td>{{ (advice.step?advice.step.roworder:0) }}</td>
                                <td>{{ (advice.step?advice.step.title:"") }}</td>
                                <td>{{ advice.title }}</td>
                                <td>{{ advice.category.title}}</td>
                                <td>
                                    {% for pathology in advice.pathologys %}
                                        {{ pathology.title }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            columnDefs: [ { "targets": 'no-sort', "orderable": false } ],
            order: [[ 1, "asc" ]],
            iDisplayLength: 100,
        });
    });
</script
{% endblock %}