{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}
{% block pagetitle %} {{ appName }}{% endblock %}

{% block body %}

<iframe class="w-100" src="{{ asset("media/doc/readme.html") }}"></iframe>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        height=$("body").height();
        position = $("iframe").position().top;

        $("iframe").height(height-position-30);
    });
</script>

{% endblock %}
