{% extends 'base.html.twig' %}


{% block stylesheets %}
<style>
    body {
        background-color: #f8f9fc;
    }
</style>
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row justify-content-center ">
        <img src="{{ asset("media/logo.png") }}" style="height:100px;">    
    </div>
    
    <div class="row justify-content-center">
        <h1>Ambulatoire ADMIN</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8" style="max-width:600px">
            <div class="card o-hidden border-0 shadow-lg my-3">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <form action="{{ path('app_login') }}" method="post">
                            <div class="form-group">
                                <label for="username">Login</label>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="_password">
                            </div>

                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"> #}

                            <button type="submit" class="btn btn-success btn-lg float-right mb-3">
                                Valider
                            </button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
