{% extends 'base.html.twig' %}

{% block title %} - Pathologies{% endblock %}

{% block pagetitle %}<i class="fas fa-syringe"></i> Pathologies{% endblock %}

{% block body %}
    <div id="pageaction" class="mb-2">
        <a href="{{ path("app_pathology_submit") }}" class="btn btn-success btn-icon-split btn-lg">
            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
            <span class="text">Ajouter</span>
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Liste</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="no-sort" style="width:70px">Action</th>
                            <th>Titre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pathology in pathologys %}
                            <tr>
                                <td><a href="{{ path("app_pathology_update",{id: pathology.id}) }}" class="btn btn-success btn-circle"><i class="fas fa-pencil-alt"></i></a></td>
                                <td>{{ pathology.title }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            columnDefs: [ { "targets": 'no-sort', "orderable": false } ],
            order: [[ 1, "asc" ]],
            iDisplayLength: 100,
        });
    });
</script
{% endblock %}