<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ appName }}{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link href="{{ asset("lib/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="{{ asset("lib/sb-admin-2/sb-admin-2.min.css") }}" rel="stylesheet">
        <link href="{{ asset("lib/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
        <link href="{{ asset("lib/select2/css/select2.min.css") }}" rel="stylesheet">
        <link href="{{ asset("lib/spectrum-colorpicker2/spectrum.min.css") }}" rel="stylesheet">
        <link href="{{ asset("lib/jquery-ui/jquery-ui.min.css") }}" rel="stylesheet">

        <script src="{{ asset("lib/jquery/jquery.min.js") }}"></script>
        <script src="{{ asset("lib/jquery-ui/jquery-ui.min.js") }}"></script>
        <script src="{{ asset("lib/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
        <script src="{{ asset("lib/jquery-easing/jquery.easing.min.js") }}"></script>
        <script src="{{ asset("lib/datatables/jquery.dataTables.min.js") }}"></script>
        <script src="{{ asset("lib/datatables/dataTables.bootstrap4.min.js") }}"></script>        
        <script src="{{ asset("lib/select2/js/select2.min.js") }}"></script>        
        <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <script src="{{ asset('lib/spectrum-colorpicker2/spectrum.min.js') }}"></script>

        <script>
            $(document).ready(function() {
                $(".spectrum").spectrum();
                $(window).trigger('resize');
            });
        </script>

        <style>
        #pagetitle {
            font-size:40px;
            text-transform: uppercase;
            border-bottom: 1px solid;
            font-weight: bold;
        }
        </style>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    </head>

<body id="page-top">
    <div id="wrapper" class="h-100 d-flex">
        {% if usesidebar is defined and usesidebar %}
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <li class="nav-item mt-5">
                <a class="nav-link" href="{{ path("app_advice")}}">
                    <i class="fas fa-comment-medical"></i>
                    <span>Conseils</span>
                </a>

                <a class="nav-link" href="{{ path("app_step")}}">
                    <i class="fas fa-shoe-prints"></i>
                    <span>Etapes</span>
                </a>

                <a class="nav-link" href="{{ path("app_category")}}">
                    <i class="fas fa-folder"></i>
                    <span>Catégories</span>
                </a>
                
                <a class="nav-link" href="{{ path("app_pathology")}}">
                    <i class="fas fa-syringe"></i>
                    <span>Pathologies</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_logout")}}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Déconnexion</span>
                </a>
            </li>            
        </ul>
        {% endif %}

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% if usesidebar is defined and usesidebar %}
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div style="font-size: 35px; cursor:pointer;" onClick="window.location.replace('{{ path("app_home") }}')">
                        <i class="fas fa-user-md"></i>
                        Ambulatoire ADMIN
                    </div>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }}</span>
                        </li>
                    </ul>
                </nav>
                {% endif %}

                <div class="container-fluid pt-3">
                    {% if usesidebar is defined and usesidebar %}
                    <h1 id="pagetitle" class="h3 mb-4 text-gray-800">{% block pagetitle %}{% endblock %}</h1>
                    {% endif %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset("lib/sb-admin-2/sb-admin-2.min.js") }}"></script>

</body>
</html>
