@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

body {
	font-family: "Roboto" !important;
	color: #333;	
    max-width: 1200px;
    margin: auto;
}

.title {
	color: #078eb5;
	text-transform: uppercase;
    font-size: 3em;
    margin-top:30px;
    text-align: center;
    line-height: 1em;
    font-weight: bold
}

h1 {
	text-transform: uppercase;
    page-break-before: always;
}

h2 {
    text-transform: uppercase;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

a, a:hover, a:visited , h1, h2, h3, h4, h5, h6 {
	color: #078eb5;
    font-weight: bold
}

img {
    max-width:100%;
    margin:auto;
    display: block;
}

.center {
    text-align: center;
}

footer img {
	width: 32px;
}

.info,
.success,
.warning,
.danger {
	padding: 1rem;
	margin-bottom: 1rem;
}

.info {
	background-color: rgba(41, 128, 185, .1);
	border-left: solid 4px rgba(41, 128, 185,1.0);
	color: rgba(41, 128, 185,1.0);
}

.success {
	background-color: rgba(39, 174, 96, .1);
	border-left: solid 4px rgba(39, 174, 96,1.0);
	color:rgba(39, 174, 96,1.0);
}

.warning {
	padding: 1rem;
	background-color: rgba(243, 156, 18, .1);
	border-left: solid 4px #f39c12;
	color: #f39c12;
}

.danger {
	background-color: rgba(231, 76, 60, .1);
	border-left: solid 4px rgba(231, 76, 60,1.0);
	color: rgba(231, 76, 60,1.0);
}

.page-break {
	page-break-after: always;
}

.center {
    text-align: center;
}

table {
    width:100%;
}

table > thead > tr > th {
    border: 1px solid;
    text-align:center;
}

table > tbody > tr > td {
    border: 1px solid;
}

.matriceresponsabilites {
    text-align:center;
    font-size: 10px;
}

.matriceresponsabilites td:nth-child(2) {
    text-align:left;
}

.matriceresponsabilites td {
    padding: 2px;
}

img[alt="schéma declenchement PCA"] { width: 500px; }
img[alt="Type Epique"] { width: 500px; }
img[alt="Type Epique Dependance"] { width: 200px; }
img[alt="Type Scenario"] { width: 500px; }
img[alt="Type Scenario Dependance"] { width: 200px; }
img[alt="Type Tache"] { width: 500px; }
img[alt="Jalon"] { width: 200px; }