body {
  padding: 10em;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 16px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
}
/*
body::-webkit-scrollbar-track {
  @apply bg-slate-200 dark:bg-[#0B1120];
}*/
body::-webkit-scrollbar-thumb {
  background-color: #2b6cb020;
}
