{% extends 'base.html.twig' %}

{% block title %} - Etape{% endblock %}

{% block pagetitle %}<i class="fas fa-shoe-prints"></i> Etape{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div id="pageaction" class="mb-2 d-flex">
        {{ form_row(form.submit) }}

        <a href="{{ path("app_step") }}" class="ml-1 btn btn-secondary btn-lg">
            Annuler
        </a>

        {% if mode=="update" %}
            <a href="{{ path("app_step_delete", { id: step.id }) }}" class="ml-auto btn btn-danger btn-lg">
                Supprimer
            </a>
        {% endif %}
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Informations</h6>
        </div>
        <div class="card-body">
            {{ form_row(form.title) }}
            {{ form_row(form.icon) }}
            {{ form_row(form.tags) }}
            {{ form_row(form.date) }}
            {{ form_row(form.chapter) }}
            {{ form_row(form.description) }}
            
        </div>
    </div>
    
{{ form_end(form) }}
{% endblock %}
