{% extends 'base.html.twig' %}

{% block title %} - Etapes{% endblock %}

{% block pagetitle %}<i class="fas fa-shoe-prints"></i> Etapes{% endblock %}

{% block body %}
    <div id="pageaction" class="mb-2">
        <a href="{{ path("app_step_submit") }}" class="btn btn-success btn-icon-split btn-lg">
            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
            <span class="text">Ajouter</span>
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">PRÉ</h6>
        </div>
        <ul class="list-group list-group-flush" data-chapter="PRÉ">
            {% for step in steps01 %}
                <li class="list-group-item d-flex align-items-center" data-id="{{ step.id }}">
                    <div class="btn mr-3"><i class="fa fa-arrows-alt-v"></i></div>
                    <div class="flex-grow-1">
                        {{ step.title }}<br>
                        <small>
                            {% if step.tags %}<b>Tags =</b> {% endif %}{{ step.tags }}{% if step.tags %}<br>{% endif %}
                            <b>Calendaire =</b> {{ (step.isdate?"oui":"non") }}<br>
                            <b>Icône =</b> {{ step.icon }}
                        </small>
                    </div>
                    <div><a href="{{ path("app_step_update", { id: step.id}) }}" class="btn btn-success btn-circle"><i class="fa fa-file"></i></a></div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">PER</h6>
        </div>
        <ul class="list-group list-group-flush" data-chapter="PER">
            {% for step in steps02 %}
                <li class="list-group-item d-flex align-items-center" data-id="{{ step.id }}">
                    <div class="btn mr-3"><i class="fa fa-arrows-alt-v"></i></div>
                    <div class="flex-grow-1">
                        {{ step.title }}<br>
                        <small>
                            {% if step.tags %}<b>Tags =</b> {% endif %}{{ step.tags }}{% if step.tags %}<br>{% endif %}
                            <b>Calendaire =</b> {{ (step.isdate?"oui":"non") }}<br>
                            <b>Icône =</b> {{ step.icon }}
                        </small>
                    </div>
                    <div><a href="{{ path("app_step_update", { id: step.id}) }}" class="btn btn-success btn-circle"><i class="fa fa-file"></i></a></div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">POST</h6>
        </div>
        <ul class="list-group list-group-flush" data-chapter="POST">
            {% for step in steps03 %}
                <li class="list-group-item d-flex align-items-center" data-id="{{ step.id }}">
                    <div class="btn mr-3"><i class="fa fa-arrows-alt-v"></i></div>
                    <div class="flex-grow-1">
                        {{ step.title }}<br>
                        <small>
                            {% if step.tags %}<b>Tags =</b> {% endif %}{{ step.tags }}{% if step.tags %}<br>{% endif %}
                            <b>Calendaire =</b> {{ (step.isdate?"oui":"non") }}<br>
                            <b>Icône =</b> {{ step.icon }}
                        </small>
                    </div>
                    <div><a href="{{ path("app_step_update", { id: step.id}) }}" class="btn btn-success btn-circle"><i class="fa fa-file"></i></a></div>
                </li>
            {% endfor %}
        </ul>
    </div>        
{% endblock %}

{% block javascripts %}
<script>
    function updateRoworder() {
        console.log("roworder");
        $('.list-group-item').each(function(i) {
            // On récupère id et order
            var chapter = $(this).data('chapter');
            var id = $(this).parent().data('chapter');
            console.log(id);
            console.log(chapter);
            /*
            $.ajax({
                method: "POST",
                url: "{{ path('app_step') }}",
                data: {
                    id:categoryid,
                    order:i
                }                   
            });
            */
        });        
    }

    $(document).ready(function() {
        $( ".list-group" ).sortable({
            axis: "y",
            stop: function( event, ui ) {
                $('.list-group-item').each(function(i) {
                    // On récupère id et order
                    var id = $(this).data("id");
                    var chapter = $(this).parent().data('chapter');

                    $.ajax({
                        method: "POST",
                        url: "{{ path('app_step_roworder') }}",
                        data: {
                            id:id,
                            roworder:i,
                            chapter:chapter,
                        }                   
                    });
                });        
            }

        });
    });


</script>
{% endblock %}